/* .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 0;
}

.header-title {
  font-size: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  border: 1px solid gray;
  padding: 15px 0px;
  margin: 0 50px;
  font-size: 18px;
  margin-bottom: 25px;
}

.login-form-finished {
  display: none;
}

.submitjs {
  background-color: yellow;
  cursor: pointer;
  padding: 20px 0px;
  margin: 5px 30px;
  border-radius: 5px;
  font-size: 23px;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("images/bg3.jpg") no-repeat center;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.lgi-form {
  position: absolute;
  z-index: 2;
}

.lgi-form h1 {
  font-size: 32px;
  color: #cff5bf;
  text-align: center;
  margin-bottom: 60px;
}

.int-area {
  position: relative;
  width: 400px;
  margin-top: 20px;
}

.int-area:first-child {
  margin-top: 0;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1586cc;
  font-size: 18px;
  color: whitesmoke;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 18px;
  color: whitesmoke;
  transition: all 0.5s ease;
}

/* .int-area label.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}
@keyframes warning {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
} */

.int-area input:focus + label,
.int-area input:valid + label {
  top: -2;
  font-size: 12px;
  color: #38e2ee;
}

.btn-area {
  margin-top: 30px;
}

.btn-area button {
  width: 100%;
  height: 50px;
  background-color: #5239ff;
  color: whitesmoke;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.caption {
  margin-top: 20px;
  text-align: center;
}

.caption a {
  font-size: 15px;
  color: whitesmoke;
  opacity: 0.7;
}

.login-form-finished {
  display: none;
}

.before-login {
  display: none;
}
